<div class="container">
    <div class="box">
        <h1>Carrito de compras</h1>
        {{#if cart}}
            <table class="box">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{subtotal}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <h2>Total: {{total}}</h2>
        {{else}}
            <h1>Carrito de compras vacío</hjson>
        {{/if}}
    </div>
</div>



<script src="/js/cart.js"></script>