<div class="box">
  <h1>Shopping Cart</h1>
  <h2>{{user.first_name}}</h2>
  <form class="user">
    <p><b> Email:</b>{{user.email}}</p>
    <p><b> Role:</b>{{user.role}}</p>
    {{! get but not show the user cart mongo db object id }}
    <input type="hidden" name="cart" value="{{user.cart._id}}" />
  </form>
  <hr />
</div>

<div class="container">
  <h2>Productos</h2>
  <div class="product-list">
    <div class="product-card" id="products-container">
      {{#each products}}
        {{#with this}}
          <h3>{{title}}</h3>
          <hr />
          <p>Id: {{_id}}</p>
          <p class="product-description">Descripción: {{description}}</p>
          <p class="product-price"> Precio: ${{price}}</p>
          <p>Stock: {{stock}}</p>
          <p>Codigo: {{code}}</p>
          <p>Categoria: {{category}}</p>
          <p>Imagen: {{thumbnails}}</p>
          <div class="box">
            <button type="button" class="delete-from-cart" data-pid="{{_id}}">
              Delete
            </button>

          </div>
        {{/with}}
      {{/each}}
    </div>
  </div>
</div>
<div class="cart-summary">
  <h2>Resumen</h2>
  <div class="summary">
    <p>Total: $<span id="total">0</span></p>
    <button type="button" class="checkout">Checkout</button>
  </div>
</div>

<script src="/js/cart.js"></script>