<div class="container">
  <div class="box">
    <h1>Bienvenido {{user.first_name}}</h1>
    <form class="user">
      <p><b> Email:</b>{{user.email}}</p>
      <p><b> Role:</b>{{user.role}}</p>
    </form>
    <div class="options">
      <form class="box" method="get" action="/api/sessions/logout">
        <button type="submit">Logout</button>
        <button type="button" onclick="window.location.href='/askMailforChange'">Password
        </button>
        <button type="button" onclick="window.location.href='/userProfile'">Profile</button>
      </form>
    </div>
  </div>
</div>
<div class="product-list">
  <h2>Productos</h2>
  {{#each products}}
    {{#with this}}
      <div class="product-card" id="products-container">
        <h3>{{title}}</h3>
        <hr />
        <p>Id: {{_id}}</p>
        <p class="product-description">Descripción: {{description}}</p>
        <p class="product-price"> Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Codigo: {{code}}</p>
        <p>Categoria: {{category}}</p>
        <p>Imagen: {{thumbnails}}</p>
      </div>
    {{/with}}
  {{/each}}
</div>