{{! GET BACK BUTTOM }}
<div class="back">
  <a href="/">Home</a>
</div>
<div id="products-list">
  <div class="options">
    <button id="pageDown">Anterior</button>
    <button id="pageUp">Siguiente</button>
    <button id="page">Pagina</button>
    <button id="limit">Limitar</button>
    <button id="sort">Ordenar</button>
    <button id="query">Categoria</button>
  </div>
  <h2>Productos</h2>
  <div class="product-list">
{{!-- muestro los productos de mi base de datos de manera estatica--}}
    {{#each products}}
      {{#with this}}
        <div class="product-card" id="products-container">
          <h3>{{title}}</h3>
          <hr />
          <p>Id: {{_id}}</p>
          <p class="product-description">Descripción: {{description}}</p>
          <p class="product-price"> Precio: ${{price}}</p>
          <p>Stock: {{stock}}</p>
          <p>Codigo: {{code}}</p>
          <p>Categoria: {{category}}</p>
          <p>Imagen: {{thumbnails}}</p>
          <button type="button" class="add-to-cart" data-product-id="{{_id}}">
            Agregar (1)
          </button>
        </div>
      {{/with}}
    {{/each}}

    
  </div>
</div>

<script src="/js/index.js"></script>