{{! product detail }}
<div class="container">
  <div class="box">
    {{#each products}}
      <h1>{{this.title}}</h1>
      <form class="user">
        <p><b> Descripción:</b>{{this.description}}</p>
        <p><b> Precio:</b>{{this.price}}</p>
        <p><b> Stock:</b>{{this.stock}}</p>
        <p><b> Codigo:</b>{{this.code}}</p>
        <p><b> Categoria:</b>{{this.category}}</p>
      </form>
    {{/each}}
  </div>
</div>

<script src="/js/index.js"></script>