<h1>Compra</h1>
<div class="box-cart">
  <form class="user">
    <p><b> Email:</b>{{user.email}}</p>
    <p><b> #Cart: </b>{{cart._id}}</p>
    <input type="hidden" name="user" value="{{req.session.user}}" />
    <input type="hidden" name="cart" value="{{cart._id}}" />
  </form>
  <div class="cart-summary">
    <h2>Totals</h2>
    <div class="summary">
      <p>Units: <span>{{totalQuantity}}</span></p>
      <p>Amount: $<span>{{totalAmount}}</span></p>
    </div>
  </div>
</div>

{{! choose the payments methods }}




<div
  id="alert"
  class="alert alert-success"
  role="alert"
  style="position: fixed; top: 1.5em; right: 1.5em; z-index: 1000; display: none;"
>
  Msg
</div>

<script>
  const cart = []; const service = 'mercadopago'; const alert =
  document.getElementById('alert'); const checkoutBtn =
  document.getElementById('checkoutBtn'); const notify = (msg) => {
  alert.innerHTML = msg; alert.style.display = 'block'; setTimeout(() =>
  alert.style.display = 'none', 2000); } const addtoCart = (title, price) => {
  let newProduct = {}; switch (service) { case 'mercadopago': newProduct = {
  title: title, unit_price: parseInt(price), quantity: 1, currency_id: 'ARS' }
  break; case 'stripe': default: newProduct = { price_data: { product_data: {
  name: title }, currency: 'usd', unit_amount: parseInt(price * 100), // * 100
  pq opera en centavos quantity: 1 } } } cart.push(newProduct); notify('Agregado
  al carrito!'); } checkoutBtn.addEventListener('click', async (e) => {
  e.preventDefault(); if (cart.length > 0) { const url = service ===
  'mercadopago' ? '/api/carts/checkoutmp': '/api/carts/checkoutstr'; const data
  = await fetch(url, { method: 'POST', headers: { 'Content-Type':
  'application/json' }, body: JSON.stringify(cart) }) const jsonData = await
  data.json(); window.location.href = jsonData.url; } else { notify('El carrito
  está vacío, nada para procesar'); } });
</script>