<h1>Thanks for your Purchase {{user.First_Name}}</h1>
<div class="box">
  <form class="user">
    <p><b> Email:</b>{{user.email}}</p>
    <p><b> #Cart: </b>{{cart._id}}</p>
    <input type="hidden" name="user" value="{{req.session.user}}" />
    <input type="hidden" name="cart" value="{{cart._id}}" />
    <div class="options">
      <form class="box" method="get" action="/api/sessions/logout">
        <button type="submit">Logout</button>
        <button
          type="button"
          onclick="window.location.href='/cart'"
        >Cart</button>
        <button type="button" onclick="goBack()">goBack</button>
      </form>
    </div>
  </form>
<div class="box-cart">
  <h2>Ticket</h2>
  <div class="tickets">
    {{#if products}}
      <p>Purchaser: {{user.email}}</p>
      <p>Units: {{totalQuantity}}</p>
      <p>Amount: ${{totalAmount}}</p>
      <p>Date: {{currentDate}}</p>
    {{/if}}
  </div>
</div>
<div class="box-cart">
  <h2>Products</h2>
  <div class="product-card">
    {{#each products}}
      <p>Name: {{this.title}}</p>
      <p>Price: ${{this.price}}</p>
    {{/each}}
  </div>
</div>

<div class="box-cart">
  <h2>Payment</h2>
  <form id="payment-form">
    <div class="form-group">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
    <!-- Modal Structure -->
    <div id="purchase-modal" class="modal">
      <div class="modal-content">
        <p id="modal-text">Thank you for your purchase!</p>
      </div>
    </div>
    <button id="submit-payment">Submit Payment</button>
  </form>
</div>

<script src="/js/charge.js"></script>
<script>
  function goBack() { window.history.back(); }
</script>