<div class="box">
  <h1>Bienvenido {{user.first_name}}</h1>
  <form class="user">
    <p><b> Email:</b> {{user.email}}</p>
    <p><b> Role:</b> {{user.role}}</p>
    <p><b> #Cart: </b>{{cart._id}}</p>
    <p><b> Total {{products.length}} products available</b></p>
    <input type="hidden" name="cart" value="{{cart._id}}" />
  </form>
  <div class="options">
    <form class="box" method="get" action="/api/sessions/logout">
      <button type="submit">Logout</button>
      <button
        type="button"
        onclick="window.location.href='/askMailforChange'"
      >Password
      </button>
      <button
        type="button"
        onclick="window.location.href='/adminProfile'"
      >Profile </button>
      <button type="button" onclick="window.location.href='/cart'">Cart</button>
    </form>
  </div>

<div class="box-form">
  <form class="box" id="add-product-form" method="post" action="/api/products/">
    <input type="text" id="title" placeholder="Nombre" />
    <input type="text" id="description" placeholder="Descripción" />
    <input type="text" id="price" placeholder="Precio" />
    <input type="text" id="stock" placeholder="Stock" />
    <input type="text" id="category" placeholder="Categoria" />
    <input type="text" id="code" placeholder="Codigo" />
    {{! add the url of the image }}
    <input type="text" id="thumbnails" placeholder="Imagen" />
    <button type="submit">Agregar</button>
  </form>
</div>
</div>

<h2>Productos</h2>
<div class="product-list" id="products-container">
  {{#each products}}
    {{#with this}}
      <div class="product-card">
        <h3>{{title}}</h3>
        <hr />
        <p>Id: {{_id}}</p>
        <p class="product-description">Descripción: {{description}}</p>
        <p class="product-price"> Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Codigo: {{code}}</p>
        <p>Categoria: {{category}}</p>
        <p>Imagen: {{thumbnails}}</p>
          <button
            type="button"
            class="add-to-cart"
            data-cid="{{cart._id}}"
            data-pid="{{_id}}"
          >
            Add to Cart
          </button>
          <button
            class="delete-product"
            data-pid="${{_id}}"
          >Delete Product
          </button>
      </div>
    {{/with}}
  {{/each}}
</div>

<script src="/js/realTimeProducts.js"></script>
