<div class="box">
  <div class="container">
    <form id="add-product-form" method="post" action="api/products/">
      <input type="text" id="title" placeholder="Nombre" />
      <input type="text" id="description" placeholder="Descripción" />
      <input type="text" id="price" placeholder="Precio" />
      <input type="text" id="stock" placeholder="Stock" />
      <input type="text" id="category" placeholder="Categoria" />
      <input type="text" id="code" placeholder="Codigo" />
      <button type="submit">Agregar</button>
    </form>
    <form id="delete-product-form" method="delete" action="api/products/:pid">
      <input type="text" id="id" placeholder="Id del producto" />
      <button type="submit">Eliminar</button>
    </form>
    <div class="title">
      <h1>realTimeProducts</h1>
      <div class="options">
        <button id="pageDown">Anterior</button>
        <button id="pageUp">Siguiente</button>
        <button id="page">Pagina</button>
        <button id="limit">Limitar</button>
        <button id="sort">Ordenar</button>
        <button id="query">Categoria</button>
    </div>
  </div>
</div>
  <div class="box">
    <h1>Bienvenido {{user.first_name}}</h1>
      <form class="user">
    <p><b> Email:</b>{{user.email}}</p>
    <p><b> Role:</b>{{user.role}}</p>
  </form>

    <div class="options">
      {{! botton de logout }}
      <form class="box" method="get" action="/api/sessions/logout">
        <button type="submit">Logout</button>
      </form>
      <form class="box" method="get" action="/api/sessions/restore">
        <button type="submit">Change Password</button>
      </form>
    </div>
    <hr />
  </div>
</div>
<br />
<div id="products-list">
  <div class="container">
    {{#each products}}
      {{#with this}}
        <div class="product-card" id="products-container">
          <h3>{{title}}</h3>
          <hr />
          <p>Id: {{_id}}</p>
          <p>Descripción: {{description}}</p>
          <p>Precio: {{price}}</p>
          <p>Stock: {{stock}}</p>
          <p>Codigo: {{code}}</p>
          <p>Categoria: {{category}}</p>
          <p>Imagen: {{thumbnails}}</p>
        </div>
      {{/with}}
    {{/each}}
  </div>
</div>


</div>

<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>