<div class="container">
  <div class="box">
    <h1>Profile</h1>
    <h2>Welcome, {{user.first_name}}!</h2>

    <p><strong>User ID:</strong> {{user._id}}</p>
    <p><strong>Role:</strong> {{user.role}}</p>
    <p><strong>#Cart:</strong> {{user.cart}}</p>

    {{#if user.documents}}
      <h2>Uploaded Documents</h2>
      <ul>
        {{#each user.documents}}
          <li>{{name}} ({{reference}})</li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if user.profileImage}}
      <img
        src="/uploads/profiles/{{user.profileImage}}"
        alt="Profile Picture"
        width="200"
      />
    {{/if}}

    {{#if user.isPremium}}
      <p>You are a Premium user!</p>
    {{/if}}
    {{! botton de logout }}
    <form class="box" method="get" action="/api/sessions/logout">
      <button type="submit">Logout</button>
      <button
        type="button"
        onclick="window.location.href='/uploadDocuments'"
      >Documents </button>
      <button type="button" onclick="goBack()">goBack</button>

    </form>

  </div>
</div>

<script>
        function goBack() {
            window.history.back();
        }
    </script>